body {
 margin: 0;
 background-image: url('/Other\ web\ assets/computer background.png');
 background-size: 100vw 100vh;
}
.header {
    margin-top: 20px;
}
.logotop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.substance {
    display: block;
    width:100vw;
    height:70vh;
    margin-top: 60px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.substance::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.slides {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 100px;
    margin-left:55px;
    margin-right:55px;
    padding-left: 100px;
    padding-right:100px;
    padding-top:20px;
    padding-bottom:20px;
    
}

.slide {
    flex-shrink: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.page {
    max-height: 95%;
    width: auto;
    object-fit: contain;
    margin-left:50px;
    margin-right:50px;
}

#slidee1 {
    position: relative;
}

.slide-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.miimi-gif {
    position: absolute;
    width: 780px;
    height: auto;
    z-index: 10;
    filter: brightness(1.3);
}

#shy-gif {
    top: 10%;
    left: 26%;
}

#raisehand-gif {
    top: 10%;
    left: 44%;
}

#cheer-gif {
    top: 11%;
    right: 46%;
}

#idle-gif {
    top: 10%;
    right: 28%;
}

#slide21 {
    position: relative;
}

.video-element {
    position: absolute;
    width: 65px;
    height: auto;
    z-index: 10;
}

#video1 {
    top: 40%;
    right: 20%;
}

#video2 {
    top: 40%;
    right: 31.75%;
}

#video3 {
    top: 40%;
    right: 43.5%;
}

#video4 {
    top: 64%;
    right: 20%;
}

#video5 {
    top: 64%;
    right: 31.75%;
}

#video6 {
    top: 64%;
    right: 43.5%;
}

#slide22 {
    position: relative;
}

#spinsign-video {
    top: 49%;
    left: 69%;
    transform: translateX(-50%);
    width: 102px;
}

#empty {
    width:40px;
}